## Working with Lists

### Introduction
So far, we have worked with individual pieces of data like the string 'hello'. In this lesson, we'll see how we can group pieces of data together using lists.

### Objectives
You will be able to:
* Understand and use Lists

### What Are Lists?

A list is our first form of a collection. A collection is just a way of grouping multiple pieces of data together. For example, let's consider the top cities for travel according to the magazine Travel and Leisure. Here is how we usually see a list of travel locations in a document or on a website.

![dog-to-do-list](https://media.giphy.com/media/xTiTnuhyBF54B852nK/giphy.gif)

##### Travel Locations
1. Bahir Dar
2. Dese
3. Axum
4. Hawassa
5. Arba Minch
6. Harar
7. Nazret

Here is what that list looks like as a Python `list`:

We indicate that we are initializing a `list` with an opening bracket, `[`, and we end the list with a closing bracket `]`. We separate each list item, also called an element, with a comma.

In [77]:
['Bahir Dar', 'Dese', 'Axum', 'Hawassa', 'Arba Minch','Harar','Nazret']

['Bahir Dar', 'Dese', 'Axum', 'Hawassa', 'Arba Minch', 'Harar', 'Nazret']

We can, of course, declare variables and set them equal to our lists so that we can both name and later retrieve the list.

In [126]:
top_travel_cities = ['Bahir Dar', 'Dese', 'Axum', 'Hawassa', 'Arba Minch','Harar','Jimma','Nazret']

In [79]:
top_travel_cities

['Bahir Dar',
 'Dese',
 'Axum',
 'Hawassa',
 'Arba Minch',
 'Harar',
 'Jimma',
 'Nazret']

In [80]:
lst = ['nati', 44, {'key': 'value'}, 7.0]

In [81]:
lst

['nati', 44, {'key': 'value'}, 7.0]

or we can use python built function, `list()` to create a list

In [82]:
my_favorite_foods = list(['Shero','Vegi-Combo','Kurt'])
my_favorite_foods

['Shero', 'Vegi-Combo', 'Kurt']

## Accessing Elements of Lists

Now our `top_travel_cities` list contains multiple elements, and just like we are used to list elements having a rank or number associated with them...

1. Bahir Dar
2. Dese
3. Axum

...a list in Python also assigns a number to each element.

In [83]:
top_travel_cities

['Bahir Dar',
 'Dese',
 'Axum',
 'Hawassa',
 'Arba Minch',
 'Harar',
 'Jimma',
 'Nazret']

In [84]:
top_travel_cities[0]

'Bahir Dar'

In the above line we are referencing a list and then using the brackets to access a specific element of our list, the first element.  We access elements in a list with the `index`, and there is a separate index for each element in the list.  It begins at the number **zero** (not the number 1 as you might expect). Like many modern programming languages , Python uses a "zero-indexed" numbering scheme for collections like lists. The value then increases by 1 for every element thereafter.

So to access the second element we write `top_travel_cities[1]`, and the third element is `top_travel_cities[2]`.

In [85]:
top_travel_cities[2]

'Axum'

How would we access the last element?  Well, we could count all of the elements in the list, and `Pyeongchang` would just be one less than that. Or we can ask Python to start from the end and move back one:

In [86]:
top_travel_cities[-1]

'Nazret'

And we can move back as many as we want.

In [87]:
top_travel_cities[-2]

'Jimma'

In [88]:
top_travel_cities[6]

'Jimma'

In [90]:
top_travel_cities.index('Jimma')
print(top_travel_cities[6])

Jimma

Each element in our list is a string, so, we can always set an element of our string equal to a variable.

In [91]:
pick_one = top_travel_cities[-7]
pick_one

'Dese'

In [1]:
print('hello world!')

hello world!

In [92]:
type(pick_one)

str

In [93]:
type(top_travel_cities)

list

Now we have a variable of `pick_one`, equal to the string 'Bahir Dar', and a variable of `top_travel_cities` equal to the list of cities.

### Accessing Multiple Elements

Now imagine that we don't want to access just one element of a list, but multiple elements at once.  Python allows us to do that as well:

In [94]:
top_travel_cities

['Bahir Dar',
 'Dese',
 'Axum',
 'Hawassa',
 'Arba Minch',
 'Harar',
 'Jimma',
 'Nazret']

In [105]:
top_travel_cities[:4, 5:]

TypeError: list indices must be integers or slices, not tuple

In [95]:
top_travel_cities[0:2]

['Bahir Dar', 'Dese']

As we can see from the above example, we can access elements of a list by placing two numbers separated by a colon inside of our brackets. The first number indicates the index of the first element we want returned.  

The second number could represent the number of elements we want returned back, or maybe it represents the stopping index of the elements that we are retrieving.  Looking at our `top_travel_cities` it could be either.

Let's try a different experiment to answer our question.

In [96]:
top_travel_cities[4:5]

['Arba Minch']

In [97]:
top_travel_cities[1:]

['Arba Minch', 'Harar', 'Jimma', 'Nazret']

Ok, so that second number is not representing the number of elements we want returned.  Instead it must be the index at which we stop our selection of elements.

In [98]:
top_travel_cities[:5]

['Bahir Dar', 'Dese', 'Axum', 'Hawassa', 'Arba Minch']

In [ ]:
[['Bahir Dar', 'Dese'], ['Axum', 'Hawassa'], ['Arba Minch']]

In [ ]:
top_travel_cities[4:6]

This operation is called `slice`.  So, we can say we are `slicing` the elements with indices 4 and 5 in the line above.  Note that even though we are `slicing` elements, our list remains intact.

In programming terms, we would say that slicing elements is non-destructive, because it does not change the underlying data structure.  We can do it as many times as we like, and our `top_travel_cities` array remains unchanged.  If we wish to store that slice of elements, we can store it in another variable.

In [106]:
pick_two = top_travel_cities[0:2]
pick_two

['Bahir Dar', 'Dese']

Now we have another variable called `pick_two` that points to an array which contains an array of elements equal to the first two elements of `top_travel_cities`.

### Changing elements with destructive methods

ops... we forgot to the capital 'Addis Ababa'

Now that we can read and select certain elements from lists, let's work on changing these lists. To add a new element to a list, we can use the `append` method.

In [108]:
top_travel_cities.append('Addis Ababa')
# top_travel_cities.insert(4, 'Addis Ababa')

In [116]:
top_travel_cities

['Bahir Dar',
 'Dese',
 'Axum',
 'Addis Ababa',
 'Hawassa',
 'Arba Minch',
 'Harar',
 'Jimma',
 'Nazret',
 'Addis Ababa']

In [115]:
top_travel_cities.insert(3, 'Addis Ababa')

Now let's take another look at `top_travel_cities`.

In [113]:
top_travel_cities.pop(0)

'Addis Ababa'

You will see that 'Addis Ababa' has been added to the list.  Note that unlike slice, `append` is destructive.  That is, it changes our underlying data structure.  Every time we execute the `append` method, another element is added to our list.   Now what if we accidentally add 'San Antonio' a second time to our list.

In [120]:
# top_travel_cities.append('Addis Ababa')
top_travel_cities.sort()

In [121]:
top_travel_cities

['Addis Ababa',
 'Addis Ababa',
 'Arba Minch',
 'Axum',
 'Bahir Dar',
 'Dese',
 'Harar',
 'Hawassa',
 'Jimma',
 'Nazret']

If you press shift+enter on the above line of code, we will have `'Addis Ababa'` as the last two elements of the list.  Luckily, we have the `pop` method to remove one of them.  The `pop` method is available to call on any list and removes the last element from the list. As you can see below, calling `pop` removed our last element.

In [118]:
top_travel_cities.pop(-2)

'Addis Ababa'

In [ ]:
{'aa':'4m', 'hawasa':'1m'}

Now if we want to change an element from the middle of the list, we can access and then reassign that element. For example, let's change 'Walla Walla Valley' to the number 4.

In [129]:
top_travel_cities[4]

'Arba Minch'

In [130]:
top_travel_cities[4] = '40 Minch'

In [133]:
top_travel_cities

['Bahir Dar',
 'Dese',
 'Axum',
 'Hawassa',
 'Arba Minch',
 'Harar',
 'Jimma',
 'Nazret']

Our list is changed, but now it's not as sensible, so let's change it back.

In [132]:
top_travel_cities[4] = 'Arba Minch'

With that, our list is back to the way we like it.

In [134]:
top_travel_cities

['Bahir Dar',
 'Dese',
 'Axum',
 'Hawassa',
 'Arba Minch',
 'Harar',
 'Jimma',
 'Nazret']

### Finding Unique elements and length of lists

If we are not sure whether there are repeated elements, we can use Python to get a unique list.

In [137]:
top_travel_cities.append('Addis Ababa')

In [139]:
top_travel_cities.insert(3,'Addis Ababa')

In [140]:
top_travel_cities

['Bahir Dar',
 'Dese',
 'Axum',
 'Addis Ababa',
 'Hawassa',
 'Arba Minch',
 'Harar',
 'Jimma',
 'Nazret',
 'Jimma',
 'Addis Ababa']

For example, now that we have added Jimma to the end of our list, Jimma appears twice.

Well to see a unique list of the elements, we can call the `set` function. The set function is non-destructive on our list.

In [141]:
unique_travel_cities = set(top_travel_cities)
unique_travel_cities

{'Addis Ababa',
 'Arba Minch',
 'Axum',
 'Bahir Dar',
 'Dese',
 'Harar',
 'Hawassa',
 'Jimma',
 'Nazret'}

The set function initializes a new set in Python.  A set is a different type collection in Python.

In [144]:
type(set())

set

A set is just like a list, except elements do not have order and each element appears just once.

In [145]:
unique_travel_cities[1]

TypeError: 'set' object is not subscriptable

 So here, when we convert our list into a set, our set just consists of the unique elements.  But unfortunately this structure is a set, not a list.

In [146]:
type(unique_travel_cities)

set

So let's convert this set, which has a unique list of our travel cities, into a list.

In [149]:
unique_travel_cities = list(unique_travel_cities)
type(unique_travel_cities)

list

In [153]:
# unique_travel_cities[1]
unique_travel_cities[-1]

'Addis Ababa'

So the array of `unique_travel_cities` is a unique list.

In [154]:
unique_travel_cities

['Harar',
 'Hawassa',
 'Dese',
 'Nazret',
 'Jimma',
 'Axum',
 'Bahir Dar',
 'Arba Minch',
 'Addis Ababa']

And you can see quickly that it differs from the list of top travel cities by checking the length.

In [156]:
len(unique_travel_cities)

9

In [161]:
lst = ['a']
if len(lst) == 0:
    print('do nothing')
else:
    print('heyyyyyyyy')

heyyyyyyyy

In [163]:
len(top_travel_cities)

11

## Breakout 
############# START ##############

In [169]:
countries = ['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'New Mexico',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea']

In [170]:
# change the word None to code that uses the countries list to assign italy to 'Italy'
italy = countries[9] # 'Italy'
italy

'Italy'

In [175]:
# now acces the element and set the varialbe mexico to 'Mexico'
mexico = countries[3]
mexico

'Mexico'

In [176]:
countries

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'New Mexico',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea']

In [177]:
# assign the second through the fifth elements to a variable called kindof_neighbors
kindof_neighbors = countries[1:5]
kindof_neighbors

['USA', 'Argentina', 'Mexico', 'USA']

In [178]:
# add a contry 'Malta' at the end
countries.append('Malta') # add code here

In [179]:
# then add a country 'Thailand'
countries.append('Tiland')

Now your list of countries should look like the following.

In [180]:
countries 
# ['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'New Mexico', 'Finland', 
# 'Argentina', 'Italy',  'Canada', 'South Korea',  'Malta',  'Thailand']

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'New Mexico',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea',
 'Malta',
 'Tiland']

In [183]:
countries[-1] = 'Thailand'
# Thailand = countries[-1]
# countries[-1,'Thailand'] = ('Thailand')
# countries.pop(-1)
# countries.append('Thailand')

In [184]:
countries

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'New Mexico',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea',
 'Malta',
 'Thailand']

You may have noticed that "New Mexico" is included in our list of countries.  That doesn't seem right.  Let's change 'New Mexico' to 'USA'.

In [192]:
countries[-8] = 'Ethiopa' # add code here

In [193]:
countries 
# ['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'USA', 'Finland', 
# 'Argentina', 'Italy',  'Canada', 'South Korea',  'Malta',  'Thailand']

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'Ethiopa',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea',
 'Malta',
 'Thailand']

Finally, let's remove Thailand from the list.  No good reason, we're acting on whimsy.

In [198]:
eth = countries.pop(6) # your code here

In [199]:
eth

'Ethiopa'

In [194]:
countries.remove('Thailand')

In [201]:
countries.append('Malta')
countries
# ['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'USA', 'Finland', 
# 'Argentina', 'Italy',  'Canada', 'South Korea',  'Malta']

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea',
 'Malta']

In [207]:
unique_countries = list(set(countries))
# unique_countries = list(unique_countries)
unique_countries

['USA',
 'Argentina',
 'Finland',
 'Morocco',
 'Mexico',
 'Canada',
 'Italy',
 'South Korea',
 'Malta',
 'Croatia']

In [210]:
unique_countries # ['Canada', 'Italy', 'USA', 'Mexico', 'Finland', 
#'Malta', 'Morocco', 'Croatia', 'Argentina', 'South Korea']

['USA',
 'Argentina',
 'Finland',
 'Morocco',
 'Mexico',
 'Canada',
 'Italy',
 'South Korea',
 'Malta',
 'Croatia']

In [212]:
del unique_countries[:3]

In [213]:
unique_countries

['Morocco', 'Mexico', 'Canada', 'Italy', 'South Korea', 'Malta', 'Croatia']

Now the number of repeat countries should be the number of countries minus the number of unique countries.  So use the `len` function on both `unique_countries` and `countries` to calculate this and assign the result to the variable `num_of_repeats`.

In [209]:
num_of_repeats = len(countries) - len(unique_countries)
num_of_repeats # 3

2

############# END ######################